[package]
name = "postgres_connector"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
sqlx = { version = "0.7", features = ["postgres", "runtime-tokio", "rust_decimal", "time", "uuid"] }
section = { version = "0.2", path = "../../../section/" }
tokio = { version = "1", features = ["full"] }

[dev-dependencies]
stub = {path = "../stub/" }
