table {
  & .MuiTableCell-head {
    font-weight: 700;
    line-height: 1.3;
  }

  & .MuiTableCell-body {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1;
  }
}
