# sample node config

# MYCELIAL NODE
# "Node" refers to the container, VM, or bare metal machine where this
# Mycelial Client is installed.
[node]
display_name = "Dev" # Human-readable Name for this Mycelial Client
unique_id = "dev" # Unique ID for this Mycelial Client
storage_path = "myceliald_state.sqlite" # Path and name of SQLite database to store this Mycelial Client's state

# MYCELIAL SERVER
# Replace with the endpoint and token for your Mycelial Server
[server]
endpoint = "http://localhost:8080" # Default Mycelial Server endpoint
token = "token" # Default token for Mycelial Server and Clietns

# SOURCES
# Define all data sources (data stores and directory paths)
# accessible by the Node that should be exposed as SOURCES to Mycelial Server
[[sources]]
type = "sqlite"
display_name = "Movie Database"
path = "/tmp/test.sqlite"

[[sources]]
type = "kafka"
display_name = "Production Kafka"
brokers = "localhost:3001"

[[sources]]
type = "snowflake"
display_name = "Data Science Warehouse"
username = "SVCMYCELIAL"
password = "123456"
role = "MYCELIAL"
account_identifier = "A_B"
warehouse = "WAREHOUSE"
database = "TEST"

[[sources]]
type = "postgres"
display_name = "App DB"
host = "localhost"
port = 9876
user = "admin"
password = "pwd"
database = "public"

[[sources]]
type = "mycelite"
display_name = "Mycelial Movie"
journal_path = "/tmp/something.sqlite.mycelial_src"

# DESTINATIONS
# Define all data DESTINATIONS (data stores and directory paths)
# accessible by the Node that should be exposed as DESTINATIONS to the Mycelial Server
[[destinations]]
type = "sqlite"
display_name = "Sqlite State"
path = "/tmp/test_dest.sqlite"

[[destinations]]
type = "mycelite"
display_name = "Mycelial Movie"
journal_path = "/tmp/something.sqlite.mycelial"
database_path = "/tmp/hydrated_db.sqlite"

[[destinations]]
type = "snowflake"
display_name = "Data Science Warehouse"
username = "SVCMYCELIAL"
password = "123456"
role = "MYCELIAL"
account_identifier = "A_B"
warehouse = "WAREHOUSE"
database = "TEST"
