@font-face {
  font-family: 'AeonikFono';
  src: local('AeonikFono'), url('./fonts/AeonikFono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AeonikMono';
  font-style: normal;
  font-weight: normal;
  src: local('AeonikMono'), url('./fonts/AeonikMono.ttf') format('truetype');
}

* {
  font-family: 'AeonikFono', sans-serif;
}

body,
main {
  font-family: 'AeonikFono', 'AeonikMono', sans-serif;
  font-size: 0.8rem;
}
main {
  height: calc(100vh - 66px);
}

html {
  height: 100%;
}

:root {
  --night-1: #192831;
  --night-2: #456376;
  --moss-1: #97b398;
  --moss-2: #a8c6a9;
  --moss-3: #b6d7b8;
  --forest-1: #3a554c;
  --forest-2: #52776b;
  --forest-3: #97b398;
  --toadstool-1: #fc1717;
  --toadstool-2: #ff6363;
  --toadstool-3: #ff9c9c;
  --green-bright: #92fc95;
  --grey-bright: #f5f5f5;
}
