[package]
name = "runtime"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = ["tokio"]
tokio = []


[dependencies]
futures = "0.3"
arrow = "42"
tokio = { version = "1", features=["full"] }
tokio-util = "0.7"
tokio-stream = "0.1"
serde_json = "1"
toml = "0.7"
section = { path = "../section" }

## sections
stub = { path = "../section/section_impls/stub/" }
sqlite = { path = "../section/section_impls/sqlite/" }
mycelite = { path = "../section/section_impls/mycelite" }
